/* Reset has been copied from Handy Bell:  https://piccalil.li/blog/a-more-modern-css-reset/*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Josefin Sans", sans-serif;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --clr-white: hsl(0, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray-500: hsl(217, 12%, 63%);
  --clr-gray-900: hsl(213, 19%, 18%);
  --clr-gray-950: hsl(216, 12%, 8%);
  --clr-orange-500: hsl(25, 97%, 53%);

  --gradient-radial: radial-gradient(circle, #232a34 0%, #181e27 100%);

  --font-family: "Overpass", sans-serif;

  --fs-100: 0.875rem;
  --fs-200: 1rem;
  --fs-300: 1.5rem;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --line-height-heading: 1.9;
  --line-height-body: 1.4;

  @media (min-width: 480px) {
    --fs-100: 0.9375rem;
    --fs-300: 1.75rem;

    --line-height-heading: 2.2;
    --line-height-body: 1.5;
  }
}

:root {
  --font-heading: var(--fw-bold) var(--fs-300) var(--font-family);
  --font-body: var(--fw-regular) var(--fs-100) var(--font-family);

  --spacing-50: 0.5rem;
  --spacing-100: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;

  --border-radius-small: 1.25rem;
  --border-radius-large: 2.5rem;

  --option-size: clamp(2.6rem, 6vw, 3.2rem);
}

body {
  font: var(--font-body);
  line-height: var(--line-height-body);
  background-color: var(--clr-gray-950);
  color: var(--clr-gray-500);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  font: var(--font-heading);
  line-height: var(--line-height-heading);
  color: var(--clr-white);
}

section {
  max-inline-size: 25rem;
  background-image: var(--gradient-radial);
  margin-inline: var(--spacing-300);
  padding: clamp(var(--spacing-300), 5vw, var(--spacing-400));
  border-radius: clamp(1rem, 5vw, 2rem);

  &[data-page="second"] {
    display: none;
    flex-flow: column;
    align-items: center;
    gap: var(--spacing-200);

    h2 {
      line-height: 1;
    }

    p {
      text-align: center;
    }
  }
}

.icon-wrapper {
  display: inline-block;
  background-color: var(--clr-gray-900);
  border-radius: var(--border-radius-large);
  margin-bottom: var(--spacing-50);
}

.icon-wrapper img {
  padding: clamp(var(--spacing-100), 3vw, var(--spacing-200));
}

.score {
  color: var(--clr-orange-500);
  background-color: var(--clr-gray-900);
  padding: 0.375rem var(--spacing-100);
  border-radius: var(--border-radius-small);
  margin-block: clamp(var(--spacing-50), 3vw, var(--spacing-200));
}

form {
  display: flex;
  flex-flow: column;
  gap: clamp(var(--spacing-300), 5vw, var(--spacing-400));
}

fieldset {
  display: flex;
  justify-content: space-between;
}

legend,
input {
  opacity: 0;
  position: absolute;
  width: 0;
}

input:checked + label {
  background-color: var(--clr-orange-500);
  color: var(--clr-gray-900);
}

input:focus-visible + label,
button:focus-visible {
  outline: 0.125rem solid var(--clr-white);
}

label,
button {
  transition: background 200ms ease;
}

label {
  background-color: var(--clr-gray-900);
  border: none;
  width: var(--option-size);
  height: var(--option-size);
  border-radius: var(--border-radius-large);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: var(--fw-bold);
  line-height: 1;

  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-gray-900);
  }
}

button {
  padding-block: var(--spacing-200);
  background-color: var(--clr-orange-500);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1.87px;
  color: var(--clr-gray-950);
  border-radius: var(--border-radius-small);

  &:hover {
    background-color: var(--clr-white);
  }

  &:active {
    scale: 0.95;
  }
}

form:invalid button {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.stack > * + * {
  margin-top: var(--spacing-200);
}

::view-transition-old(main),
::view-transition-new(main) {
  animation-duration: 0.5s;
}

::view-transition-old(main) {
  animation-name: fade-out;
}

::view-transition-new(main) {
  animation-name: fade-in;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
